# from scrape-php
scrape-php/*.log
scrape-php/.DS_Store
scrape-php/.env
scrape-php/.env.backup
scrape-php/.env.production
scrape-php/.phpactor.json
scrape-php/.phpunit.result.cache
scrape-php/.fleet
scrape-php/.idea
scrape-php/.nova
scrape-php/.phpunit.cache
scrape-php/.vscode
scrape-php/.zed
scrape-php/auth.json
scrape-php/node_modules
scrape-php/public/build
scrape-php/public/hot
scrape-php/public/storage
scrape-php/storage/*.key
scrape-php/storage/pail
scrape-php/vendor
scrape-php/Homestead.json
scrape-php/Homestead.yaml
scrape-php/Thumbs.db


# from article-update-node
article-update-node/node_modules
article-update-node/.env



# from scrape-articles-react
scrape-articles-react/Logs
scrape-articles-react/logs
scrape-articles-react/*.log
scrape-articles-react/npm-debug.log*
scrape-articles-react/yarn-debug.log*
scrape-articles-react/yarn-error.log*
scrape-articles-react/pnpm-debug.log*
scrape-articles-react/lerna-debug.log*

scrape-articles-react/node_modules
scrape-articles-react/dist
scrape-articles-react/dist-ssr
scrape-articles-react/*.local

# Editor directories and files
scrape-articles-react/.vscode/*
scrape-articles-react/!.vscode/extensions.json
scrape-articles-react/.idea
scrape-articles-react/.DS_Store
scrape-articles-react/*.suo
scrape-articles-react/*.ntvs*
scrape-articles-react/*.njsproj
scrape-articles-react/*.sln
scrape-articles-react/*.sw?